apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ .Release.Name }}
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$1
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/ssl-redirect: "false"

spec:
  rules:
    #對外訪問的域名
    - host: {{.Values.ingress.host}}
      http:
        paths:
          - path: /sscreen/(.*)
            backend:
              serviceName: {{ .Release.Name }}
              servicePort: 80-tcp